body {
  background-color: rgb(235, 231, 231);
  font-size: 18px;
}

#list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 96px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 60%;
  border: 4px solid rgb(215, 213, 213);
}

h2 {
  font-size: 18px;
  border-bottom: 1px solid rgb(235, 231, 231);
  height: 48px;
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.addTask {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgb(235, 231, 231);
  height: 48px;
  width: 90%;
  padding-left: 24px;
  font-style: italic;
}

.addBtn {
  width: 10%;
  height: 51px;
  font-size: 24px;
  background-color: rgb(235, 231, 231);
}

.addTaskDiv {
  display: flex;
  flex-direction: row;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  border-bottom: 1px solid rgb(235, 231, 231);
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.editing {
  background-color: #fffeca;
}

.description {
  padding-left: 12px;
  width: 80%;
  height: 90%;
  border: none;
  font-size: 18px;
  background: transparent;
  outline: none;
}

.description.check {
  text-decoration: line-through;
  color: #a0a0a0;
}

button {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgb(235, 231, 231);
  height: 48px;
  font-size: 18px;
  color: rgb(156, 154, 154);
  background-color: rgb(235, 231, 231);
}

label {
  display: flex;
  width: 100%;
}

.divMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  padding-right: 12px;
  justify-self: end;
  margin-left: auto;
}

.divMenu.none {
  display: none;
}

.menu {
  width: 2px;
  height: 2px;
  margin-bottom: 2px;
  border: 1px solid black;
  background: black;
  border-radius: 50%;
}

.deleteDiv {
  display: none;
}

.deleteDiv.active {
  display: block;
  cursor: pointer;
  padding-right: 12px;
  justify-self: end;
  margin-left: auto;
}

.deleteDiv img {
  width: 12px;
}
